<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Processor Checker</title>
		<link rel="stylesheet" href="application.css" type="text/css" />
	</head>
 
	<body class='dark'>
		<div class="text monospace-font">This App Runs On </div>
		<div class="highlighted future-font">(<%= cpu %>)</div>
		<div class="text monospace-font">architecture</div>
	</body>
</html>
