<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Processor Checker</title>
		<link rel="stylesheet" href="application.css" type="text/css" />
	</head>
 
	<body>
		<div class="text">This App Runs On </div>
		<div class="highlighted">(<%= cpu %>)</div>
		<div class="text">architecture</div>
	</body>
</html>
