<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Processor Checker</title>
		<link rel="stylesheet" href="application.css" type="text/css" />
	</head>
 
	<body class="light">
		<div style="margin: 100px auto; width: 900px; text-align: center; font-size: 1.2em;">
		  <h1 class="monospace">
		    <a href="http://manpages.courier-mta.org/htmlman1/lscpu.1.html">lscpu</a> command output:
		  </h1>
		  <p class="monospace" style="color: #333; margin-top: 40px; margin-bottom: 140px; text-align: left;"><%= output %></p>
		</div>
	</body>
</html>
