<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Processor Checker</title>
		<link rel="stylesheet" href="application.css" type="text/css" />
	</head>
 
	<body>
		<div style="margin: 100px auto; width: 700px; text-align: center; font-size: 1.2em; font-family: Helvetica">
		  <img src="http://fibonaccigame.com/Leonardo%20Logo.jpg"/ style='width: 200px; '>
		  <h1>Fibonacci number with index <span style='color: #D7442E'><%= number.to_i %></span> is:</h1>
		  <p style="word-wrap: break-word;width: 900px; color: #333; font-style: italic; margin-top: 40px; margin-bottom: 140px; text-align: left"><%= value %></p>
		</div>
	</body>
</html>
