@import url(http://fonts.googleapis.com/css?family=Roboto|Arvo|Dosis|Monda|Exo);

body {
	background-color: #252f38;
	text-align: center;
	margin-top: 10em;
}

div {  }

.text {
	font-size: 3.3em;
	text-transform: uppercase;
	color: #46c699;
	font-family: Monda, Dosis, Helvetica, Sans;
}

.highlighted {
	font-size: 7.4em;
	color: #f7d32a;
	margin: 0.2em 0 0.2em 0;
	/*text-transform: uppercase;*/
	font-family: "Exo", Dosis, Helvetica, Sans;
}